@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: #FFFFFF;
    position: relative;
}

nav {
    display: block;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.box-logo {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

    left: 9.09%;
    right: 10%;
    top: 0%;
    bottom: 0%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#rectangle239 {
    display: block;
    top: 0%;
}

#logoSlaca {
    width: 200px;
    text-align: center;
}

#description {
    color: #ED7839;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #FFFFFF;
    padding: 30px 0;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: #725C5C;
    display: block;
}



.wrapper .sidebar ul li:hover {
    background: #FDF1EB;
}